#topSection{
  background-color: #111820;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-style: none;
  height: 70px;
  position:  fixed;
  z-index: 101;
  top: 0;
  width: 100%;
}
#inTopSection{
  width: 85.15%;
  text-align: center;
  margin: 0 auto;
  height: 100%;
  padding: 0px;
  border-style: none;
}

#topLogo{
  float: left;
  height: 70px;
  width: 114px;
  background-image: url("./ViveLogo.png");
  background-repeat: no-repeat;
  background-position: center;
  clear: both;
}

#nav-items{
  width: 1180.33px;
  height: 70px;
  margin-left: 150px;
  align-items: center;
  vertical-align: middle
  margin-right: 0px;
}

.navs{
  color: red;
  font-family: "Fakt-Normal",Helvetica,Arial;
  font-size: 16px;
  float: left;
  /*margin-top: 27px;*/
  margin-right: 27px;
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 4px solid transparent;
  padding-top: 5px;
  transition: 0.15s;
}

.navs:hover{
  border-bottom: 4px solid #00c9fb;
}

#vive-button{
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  height: 38px;
  transition: .2s;
  text-align: center;
  text-decoration: none;
  border: 1px solid #00c9fb;
  border-radius: 21px;
  outline: 0;
  cursor: pointer;
  vertical-align: middle;
  align-items: center;
  font-family: "Fakt-Normal",Helvetica,Arial;
  background-color: transparent;
  color: #00c9fb;
  padding: 0px 14px;
}

#vive-button:hover{
  color: #111820;
  background-color: #00c9fb;
}

#sign-in{
  color: #FFFFFF;
  /*margin-left: -10px;*/
  font-family: "Fakt-Normal",Helvetica,Arial;
  float: left;
  vertical-align: middle;
  font-size: 16px;
  margin-top: 27px;
  margin-left: 20px;
  margin-right: 0px;
  text-decoration: none;
}

#htc-logo{
  float: left;
  height: 70px;
  width: 114px;
  background-image: url("./htc-logo.png");
  background-repeat: no-repeat;
  background-position: center;
}
